@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px;
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 85.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.inner {
  padding: 20px;
  background: rgba(255, 255, 255, 0.60);
  max-width: 850px;
  display: flex;
}

.inner .image-holder {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.inner form {
  /* width: 50%; */
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
}

.inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Urbanist";
  text-align: center;
  margin-bottom: 28px;
}

.form-group {
  display: flex;
}

.form-group input {
  width: 50%;
}

.form-group input:first-child {
  margin-right: 25px;
}

.form-wrapper {
  position: relative;
}

.form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0;
}

.form-control {
  /* border: 1px solid white; */
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
}

.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular";
}

.form-control::-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular";
}

.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular";
}

.form-control:-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular";
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}

select option[value=""][disabled] {
  display: none;
}

.btn97 {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button i {
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

button:hover i,
button:focus i,
button:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-width: 1199px) {
  .wrapper {
    background-position: right center;
  }
}

@media (max-width: 991px) {
  .inner form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }

  .inner .image-holder {
    width: 100%;
  }

  .inner form {
    width: 100%;
    padding: 40px 0 30px;
  }

  button {
    margin-top: 60px;
  }
}

input,
select,
option {
  background-color: transparent;
}

input.form-control::placeholder {
  color: white;
  opacity: 1;
  font-family: "Urbanist";
}

/* BOTON REGISTRO */
.bn1 {
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  background: hsl(220, 85%, 50%);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.bn1:hover {
  color: #000000;
  background-color: hsl(182, 96%, 54%);
}

@media (min-width: 768px) {
  .bn1 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/* REGISTRO */
h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  text-rendering: optimizeLegibility;
}

h3.deepshadow {
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow:
    0 -1px 0 rgba(255, 255, 255, 0.8),
    0 1px 0 rgba(128, 128, 128, 0.7),
    /* Sombra plateada */
    0 2px 0 rgba(128, 128, 128, 0.7),
    0 3px 0 rgba(128, 128, 128, 0.7),
    0 4px 0 rgba(128, 128, 128, 0.7),
    0 5px 0 rgba(128, 128, 128, 0.7),
    0 6px 0 rgba(128, 128, 128, 0.7),
    0 7px 0 rgba(128, 128, 128, 0.7),
    0 8px 0 rgba(128, 128, 128, 0.7),
    0 9px 0 rgba(128, 128, 128, 0.7),
    0 10px 0 rgba(128, 128, 128, 0.7);
}

.anchoPantalla {
  height: 100vh
}

.loginLargo {
  height: 85.5vh
}


select {
  background-color: transparent;
  /* Mantiene el input con fondo transparente */
  color: white;
  /* Mantiene el texto del input blanco */
}

select option {
  background-color: #333;
  /* Cambia el fondo de las opciones */
  color: white;
  /* Cambia el color del texto de las opciones */
}

@media (max-width: 768px) {
  .pequeño {
    width: 200px;
  }

  .image-holder {
    display: flex;
    justify-content: center
  }

  #form-registro {
    padding: 10px
  }
}

/* YOUTUBE DISEÑO */
.containerYt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  overflow: hidden;
  width: 480px;
  height: 290px;
  /* #SHORT */
  /* width: 300px;
    height: 450px; */
}

.card {
  flex: 0 0 100%;
  transition: transform .4s ease;
}

.card iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ula {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --color: #ff7f82;
  --hover: #ffa260;
  /* Asegúrate de usar el color ajustado real que hayas calculado */
}

.raise {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
  }
}

.raise {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.todaPantalla {
  height: 85.5vh
}

.registroRedes a img {
  width: 50px;
}

.panel-pantalla {
  display: grid;
  grid-template-columns: 30% 70%;
}

/* Button */
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* margin: 20px; */
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn19 {
  background-image: linear-gradient(to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.bn32 {
  border-color: #ffffff;
  padding: 0.3em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
  background-image: linear-gradient(45deg, transparent 50%, hsl(24, 100%, 56%) 50%);
  background-position: 20%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.bn32:hover {
  color: #ffffff;
  background-position: 100%;
}

/* Asegúrate de que esta regla se esté aplicando */
.shadow-effect {
  display: inline-block;
  /* Hace que el enlace se comporte como un botón en línea */
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.76);
  /* Cambia a un color sólido para verificar */
  text-align: center;
  /* Centra el texto dentro del enlace */
  text-decoration: none;
  /* Elimina el subrayado del enlace */
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-effect:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

#nombre-archivo::placeholder {
  color: black;
}

#NOTICIAS
@layer components {
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}
@tailwind base;
@tailwind components;
@tailwind utilities;